$color_blue: rgb(2, 130, 249);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        width: 70px;
        margin: 10px;
    }
}

ul {
    list-style-type: none;
    margin: 20px 0;

    li {
        display: inline-block;

        a {
            color: rgb(70, 70, 100);
            text-decoration: none;
            padding: 0 10px;

            &.active {
                color: $color_blue;
                padding-bottom: 36px;
                border-bottom: 3px solid $color_blue;
            }

            &:hover {
                color: $color_blue;
            }
        }
    }
}

.comics-content {
    background-color: rgb(28, 28, 28);
    color: white;

    #jumbotron {
        background-image: url("/img/jumbotron.jpg");
        height: 300px;
        background-size: cover;
    }

    .label {
        background-color: $color_blue;
        padding: 10px;
        display: inline-block;
        margin-top: -30px;
    }

    .label_bg {
        background-color: $color_blue;
        height: 80px;

        .label_thumb {
            width: 60%;
            margin: 0 auto;

            img {
                width: 150px;
                margin-top: -170px;
            }
        }
    }

    .my_container {
        background-color: rgb(28, 28, 28);
        width: 80%;
        margin: 0 auto;
    }

    .comic_container_bg {
        background-color: white;
        color: black;

        .flex_container{
            display: flex;
            max-width: 60%;
            margin: 0 auto;
        }

        .comic_container {

            h2{
                color: #003F5E;
            }
        }

        .price_available{
            background-color: #55BA59;
            color: white;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            max-width: 60%;
            margin: 10px 0;
        }

        .desc{
            max-width: 80%;
            color: gray;
            margin: 20px 0;
        }

        .adv_container{
            width: 40%;
            margin: 0 auto;
        }

        .container_spec{
            background-color: #F6F6F6;
            border-top: 1px solid darkgray;
            a{
                text-decoration: none;
            }

            h2{
                color: #003F5E;
                margin: 20px 0;
            }

            h5{
                display: inline-block;
                color: #003F5E;
            }

            .talent{
                width: 60%;
            }

            .desc_talent{
                display: inline-block;
                margin-bottom: 20px;
            }

            .spec{
                width: 35%;
                margin-left: 50px;

                a{
                    text-decoration: none;
                }
            }
        }
    }


    .cards_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .cards {
        width: 15%;
        padding: 25px;

        img {
            width: 200px;
            margin-top: 20px;
            margin-bottom: 10px;
            object-fit: cover;
        }
    }

    .button {
        display: flex;
        justify-content: center;

        h4 {
            background-color: $color_blue;
            padding: 10px 40px;
            margin: 20px;
        }
    }
}

.comics-link {
    height: 150px;
    background-color: rgb(2, 130, 249);
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        width: auto;
        height: 70px;
    }

    a {
        text-decoration: none;
        color: white;
        text-align: center;
    }
}

footer {
    background-image: url("/img/footer-bg.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: space-around;

    figure {
        overflow: hidden;
        display: flex;
        align-items: center;
    }
}

.social-footer {
    height: 70px;
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: space-around;
    align-items: center;

    .my_button {
        display: inline-block;
        border: 2px solid $color_blue;
        padding: 5px;
        color: white;
    }

    .icon_social {
        color: $color_blue;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
            margin: 0 10px;
        }
    }
}
